.contact-form {
  background: var(--white);
  padding: 2.5rem;
  border-radius: var(--radius-lg);

  .form-group {
    margin-bottom: 1.2rem;

    input,
    select,
    textarea {
      width: 100%;
      padding: 0.8rem;
      border: 1px solid var(--gray-mid);
      border-radius: var(--radius);
    }
  }

  .submit-btn {
    width: 100%;
    background: var(--primary);
    border: none;
    padding: 0.9rem;
    border-radius: 50px;
    font-weight: 700;
  }
}