:root {
  --primary: #0cc0df;
  --black: #0a0a0a;
  --white: #fff;
  --gray: #f4f4f4;
  --gray-light: #f8f9fa;
  --gray-mid: #e5e5e5;
  --gray-text: #777;
  --text: #555;

  --radius: 12px;
  --radius-lg: 20px;

  --transition: all 0.3s ease;

  --font-display: 'Syne', sans-serif;
  --font-body: 'DM Sans', sans-serif;
}
